  <div class='header'>
    <div class='left'>
      <h1>
        <a href="http://ichiriac.github.io/sofa-odm">Sofa-ODM</a>
      </h1>
      <ul>
        <li><a href='http://ichiriac.github.io/sofa-odm/docs'>Documentation</a></li>
        <li><a href='http://ichiriac.github.io/sofa-odm/api'>API</a></li>
        <li><a href='https://github.com/ichiriac/sofa-odm'>View on GitHub</a></li>
        <li><a href='https://github.com/ichiriac/sofa-odm/issues'>Issues</a></li>
      </ul>
    </div>
    <div class='right'>
      <!-- GitHub buttons: see http://ghbtns.com -->
      <iframe src="http://ghbtns.com/github-btn.html?user=ichiriac&amp;repo=sofa-odm&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
    </div>
  </div>